@{
    ViewData["Title"] = "Home Page";

}
<link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" />
<h1>sksksksk </h1>
