.vs/
/E-Commerce/.vs
.vs/GraduationProject-ITI/FileContentIndex/1b4bff8f-a66c-46aa-ae1e-2ef718461ee7.vsidx
*.vsidx
*.vsidx
*.vsidx
*.v2
E-Commerce/.vs/E-Commerce/DesignTimeBuild/.dtbcache.v2
E-Commerce/.vs/E-Commerce/DesignTimeBuild/.dtbcache.v2
E-Commerce/.vs/E-Commerce/DesignTimeBuild/.dtbcache.v2
