<div class="container"  [dir]="direction">
	<h3  class="text-center pt-5" style="color: #ff662b;" >هل نسيت كلمة المرور؟</h3>
    <form class="form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <label class="label" style="font-size:small">الرجاء إدخال عنوان بريدك الإلكتروني أدناه الحصول على رابط إعادة تعيين كلمة مرور</label>
        <input type="text" class="input" formControlName="email"  placeholder="البريد الالكتروني" 
		[ngClass]="{'is-invalid':(email?.touched || 
		email?.dirty)&& email?.invalid}">
		<span class="invalid-feedback">
		   @if(email?.errors?.['required'])
			 { <span>Email is Required</span>}
			</span>
		<div class="pt-5">
		 <button style="background-color: #ff662b;" class="btn text-white" type="submit" [disabled]="!forgetPasswordForm.valid">إعادة تعيين كلمة المرور الخاصة بي</button>
		</div>
    </form>
</div>