@{
    Layout = null;
}
@model E_Commerce.MVC.DTOs.UserAccount.ResetPasswordDto
@{

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" />
        <title>Reset Password </title>
    </head>
    <body>
        <div class="login">

            <img src="@Url.Content("~/img/111.png")" alt="login image" class="login__img">

            <form action="@Url.Action("EnterNewPassword", "Admin")" method="post" class="login__form ">
                <h1 class="login__title">New Password</h1>

                <div class="login__content">



                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label " style="color: #680082;"></label>
                        <input asp-for="NewPassword" class="form-control login__input" />
                        <span asp-validation-for="NewPassword" class="text-danger" style="color:red "></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label" style="color: #680082;"></label>
                        <input asp-for="ConfirmPassword" class="form-control login__input" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:red "></span>
                    </div>
                </div>


                <button type="submit" class="login__button">Save</button>

            
            </form>

        </div>



    </body>
    </html>
}
