@{
    Layout = null;
}
@{

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

        <link href="@Url.Content("~/css/Login.css")" rel="stylesheet" />
        <title>Reset Password </title>
    </head>
    <body>
        <div class="login">

            <img src="@Url.Content("~/img/111.png")" alt="login image" class="login__img">

            <form action="@Url.Action("EnterNewPassword", "Admin")" method="post" class="login__form ">
                <h1 class="login__title">New Password</h1>

                <div class="login__content">
                   

                    <div class="login__box">
                        <i class="ri-lock-2-line login__icon"></i>

                        <div class="login__box-input">
                            <input type="password" required name="Password" class="login__input" id="login-pass" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                            <label for="login-pass" class="login__label">Password</label>
                          
                        </div>
                    </div>
                    <div class="login__box">
                        <i class="ri-lock-2-line login__icon"></i>

                        <div class="login__box-input">
                            <input type="password" required name="UserName" class="login__input" id="login-email" placeholder=" ">
                            <label for="login-email" class="login__label">confirm Password</label>
                        </div>
                    </div>
                </div>


                <button type="submit" class="login__button">Save</button>

            
            </form>

        </div>



    </body>
    </html>
}
