<div class="container">
    <h3 class="text-center pt-5" style="color: #ff662b;">{{'Forgot Your Password?'|translate}}</h3>
    <form class="form" [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
        <label class="label" style="font-size: small">{{'Please enter your email address below to receive code to reset password.'|translate}}</label>
        <input type="text" class="input" formControlName="email" placeholder="{{'EMAIL'|translate}}"
            [ngClass]="{'is-invalid': (email?.touched || email?.dirty) && email?.invalid}">
        <span class="invalid-feedback" *ngIf="email?.errors?.['required']">
            <span>{{'Email is Required'|translate}}</span>
        </span>
        <div class="pt-5">
            <button style="background-color: #ff662b;" class="btn text-white" type="submit"
                [disabled]="!forgetPasswordForm.valid">{{'RESET MY PASSWORD'|translate}}</button>
        </div>
    </form>

    <!-- Modal -->
    <!-- <div class="modal fade" #codeModal id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <p>Enter the code sent to your email.</p>
                    <input type="text" class="form-control" [(ngModel)]="code" placeholder="Enter Code">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="verifyCode()">Submit</button>
                </div>
            </div>
        </div>
    </div> -->
</div>
