@model List<E_Commerce.MVC.DTOs.CategoryDto.CreateOrUpdateCategoryDto>

<!DOCTYPE html>
<html>
<head>
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>

    <table>
        <thead>
            <tr>
              
                <th>Name (Arabic)</th>
                <th>Name (English)</th>
              
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    
                    <td>@category.nameAr</td>
                    <td>@category.nameEn</td>
                   
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
