@model E_Commerce.MVC.DTOs.CategoryDto.CreateOrUpdateCategoryDto

@{
    ViewData["Title"] = "Update";
}

<h1>Update</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameAr" class="control-label"></label>
                <input asp-for="nameAr" class="form-control" />
                <span asp-validation-for="nameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameEn" class="control-label"></label>
                <input asp-for="nameEn" class="form-control" />
                <span asp-validation-for="nameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label"></label>
                @Html.DropDownList("ParentCategoryId", ViewBag.Categories as SelectList, "Select Parent Category", new { @class = "form-control" })
                <span asp-validation-for="ParentCategoryId" class="text-danger"></span>
            </div>

          
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CategoryList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
