<!-- <footer class="container-fluid text-center text-white" style="background-color: #272723;">                              

  
    <section class="mb-4 p-4">
        <h5>كن اول من يعلم</h5>
        <p>اشترك واعرف كل ماهو جديد من عروض واخبار الان</p>
    </section>
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-md-5 col-12">
            <div class="form-outline form-white input-group mb-4">
                <button type="button" class="btn text-white">اشتراك</button>
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    
            </div>
          </div>
        </div>
      </form>
    </section>
      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5><span>تواصل معنا</span></h5></div>

          <ul class="list-unstyled mb-0">
            <li><a style="color: #FFFFFF" href="https://2b.com.eg/ar/about-us/" title="About us"> عن الشركة</a></li>
            <li><a style="color: #FFFFFF" href="https://2b.com.eg/ar/contact-us/" title="Contact Us"> اتصل بنا </a></li>
            <li><p style="color: #FFFFFF; text-transform:uppercase;"><b>الهاتف:</b> <a href="tel:16420">
                16420</a></p></li>
            <li><p style="color: #FFFFFF; text-transform:uppercase;"><b>البريد الإلكتروني:</b><a href="mailto:info@2b.com.eg"> info2b.com.eg</a>
            </p></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5>حسابي</h5></div>

          <ul class="list-unstyled mb-0">
            <li><a href="https://2b.com.eg/ar/customer/account/">حسابي الشخصي</a>
            </li>
            <li><a href="https://2b.com.eg/ar/sales/order/history/">تاريخ
                الطلبات</a></li>
<li><a href="https://2b.com.eg/ar/sales/guest/form/" title="Order History">تتبع طلبك</a></li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div class="block-title"><h5>الأكثر بحثا</h5></div>

          <ul class="list-unstyled mb-0">
            <li><a href="https://2b.com.eg/ar/computers/laptops.html">لابتوب</a></li>
            <li><a href="https://2b.com.eg/ar/mobile-and-tablet/mobiles.html">موبايلات</a></li>
            <li><a href="https://2b.com.eg/ar/accessories/wearables.html">ساعات
                ذكية</a></li>
            <li><a href="https://2b.com.eg/ar/home-appliances/personal-care/for-him.html">أجهزة العناية
                الشخصية للرجال</a></li>
            <li><a href="https://2b.com.eg/ar/accessories/tv-accessories.html">إكسسوارات التلفزيون</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <div style="color:#a8a8a8"><span class="thirteen">ايام عمل كل فروعنا</span></div>

          <ul class="list-unstyled mb-0">
            <li class="thirteen" style="color:#a8a8a8">يوميا / 10:00 صباحا - 10:00 مساء</li>
                    <li class="twelve">حمل تطبيق تو بي</li>
          </ul>
        </div>
      </div>
  <hr style="color: #63635a;">
  <div class="col-md-12">
    <div class="block-bottom">
        <div class="row">
            <div class="col-md-3 social-icons social-icons2">
                <a class="socials facebook" href="https://www.facebook.com/2BEgypt/" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a class="socials linkedin" href="https://www.linkedin.com/company/2b-egypt/about/" title="Linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a class="socials instagram" href="https://www.instagram.com/2begypt" title="Instagram" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="col-md-3" style="margin-bottom: 15px;">
                <br>
                <span style="font-size: 16px;color: #a8a8a8;">تمتع معنا بـ</span>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li style="color: #a8a8a8;">شحن سريع الي اي مكان</li>
                    <br>
                    <li><a href="https://2b.com.eg/ar/terms-and-conditions">الشروط والأحكام</a></li>
                    <br>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled" style="color: #a8a8a8;">
                    <li>مركز خدمة متخصص لخدمتك</li>
                    <br>
                    <li>اكثر من 50 فرع متاح لخدمتك فى كل مكان</li>
                    <br>
                    <li>يمكنك الشراء اونلاين والاستلام من اقرب فرع</li>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</div>
  <div class="text-center bg-black p-3">
    <div class="d-flex justify-content-between">
<div id="payments-methods">
<img class="py_img" style="max-height: 35px;" src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/October_2023/Payments_Methods.png" alt="">
</div>
    <address>©الحقوق محفوظة 2021 لصالح شركه توبي كمبيوتر</address>
</div>
</div>
</footer> -->

<footer class="page-footer">
  <div class="footer">
    <div class="footer-top">
      <div class="container pt-5">
        <div class="row">
          <div class="col-lg-12">
            <div class="custom-block">
              <div class="col-md-12" style="text-align: center">
                <div class="block" style="margin-bottom: 0px !important">
                  <div class="block-title">
                    <h5><span class="text-white fw-bold">{{ 'BE THE FIRST TO KNOW' | translate }}</span></h5>
                  </div>
                  <div class="block-content">
                    <p style="color: #ffffff">
                    {{'Subscribe and Get all the latest information on Sales and Offers now'|translate}}  
                    </p>
                  </div>
                  <div
                    class="block-content d-flex justify-content-center"
                    style="margin: 30px 0px"
                  >
                    <!-- <div class="block newsletter">
                      <div class="content">
                        <form
                          class="form subscribe"
                          action="https://2b.com.eg/ar/newsletter/subscriber/new/"
                          method="post"
                        >
                          <div class="field newsletter">
                            <div class="control">
                              <input
                                name="email"
                                type="email"
                                placeholder="{{'EMAIL'|translate}}"
                              />
                            </div>
                          </div>
                          <div class="actions">
                            <button
                              class="action  primary"
                              type="submit"
                            >
                              <span id="sub">{{'Send'|translate}}</span>
                            </button>
                          </div>
                        </form>
                      </div>
                    </div> -->
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" placeholder="{{'EMAIL'|translate}}">
                      <button class="btn btn-outline-secondary" type="button"><span id="sub">{{'Send'|translate}}</span></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-middle">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-md-3">
                <div class="block">
                  <div class="block-title">
                    <h5><span>{{'CONTACT'|translate}}</span></h5>
                  </div>
                  <div class="block-content">
                    <ul class="contact-info list-unstyled">
                      <li>
                        <a style="color: #ffffff" href="https://2b.com.eg/ar/about-us/" title="About us">
                          {{'About us'|translate}}
                        </a>
                      </li>
                      <li>
                        <a style="color: #ffffff" href="https://2b.com.eg/ar/contact-us/" title="Contact Us">
                          {{'Contact us'|translate}}
                        </a>
                      </li>
                      <!-- <li><a style="color: #FFFFFF" href="https://2bapplication.aidaform.com/expert-account-template-basic-job-application-form" >انضم إلى فريقنا</a></li>-->
                      <li>
                        <p style="color: #ffffff; text-transform: uppercase;">
                          <b>{{"PHONE"|translate}}:</b> <a href="tel:16420"> 16420</a>
                        </p>
                      </li>
                      <li>
                        <p style="color: #ffffff; text-transform: uppercase;">
                          <b>{{"EMAIL"|translate}}</b><a href="mailto:info@2b.com.eg"> info2b.com.eg</a>
                        </p>
                      </li>
                    </ul>
                    
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="block">
                  <div class="block-title"><h5>{{'MY ACCOUNT'|translate}}</h5></div>
                  <div class="block-content">
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="links list-unstyled">
                          <li>
                            <a href="https://2b.com.eg/ar/customer/account/"
                              >{{'Profile'|translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/sales/order/history/"
                              >{{'Order history'|translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/sales/guest/form/"
                              title="Order History"
                              >{{'Track your order'|translate}}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="block">
                  <div class="block-title">
                    <h5>{{'MOST RESEARCHED'|translate}}</h5>
                  </div>
                  <div class="block-content">
                    <div class="row">
                      <div class="col-md-12 whitening">
                        <ul class="links list-unstyled">
                          <li>
                            <a
                              href="https://2b.com.eg/ar/computers/laptops.html"
                              >{{'Laptop'| translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/mobile-and-tablet/mobiles.html"
                              >{{'Mobile Devices'|translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/accessories/wearables.html"
                              >{{'Wearbles'|translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/home-appliances/personal-care/for-him.html"
                              >{{'Personal Care For Him'|translate}}</a
                            >
                          </li>
                          <li>
                            <a
                              href="https://2b.com.eg/ar/accessories/tv-accessories.html"
                              >{{'TV Accessories'|translate}}</a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="block">
                  <div class="block-title">
                    <span class="thirteen">{{'Stores Working Days'|translate}}</span>
                  </div>
                  <div class="block-content">
                    <ul class="features list-unstyled">
                      <li class="thirteen">
                        {{"Daily / 10:00 AM to 10:00 PM"|translate}}
                      </li>
                      <li class="twelve">{{'Download 2B App Now'|translate}}</li>
                      <li>
                        <div class="row">
                          <div class="col-md-6 col-6">
                            <a
                              class="google-play-link"
                              href="https://play.google.com/store/apps/details?id=com.twobegypt.android&hl=en"
                              target="_blank"
                            >
                              <picture>
                                <source
                                  media="(min-width:1200px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/google_new.png
                                  "
                                />
                                <source
                                  media="(max-width:768px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/google_new.png
                                  "
                                />
                                <img
                                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/google_new.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </picture>
                            </a>
                          </div>
                          <div class="col-md-6 col-6">
                            <a
                              href="https://apps.apple.com/us/app/2b-egypt/id1486844812"
                              target="_blank"
                            >
                              <picture>
                                <source
                                  media="(min-width:1200px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apple_new.png
                                  "
                                />
                                <source
                                  media="(max-width:768px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apple_new.png
                                  "
                                />
                                <img
                                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apple_new.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </picture>
                            </a>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="row">
                          <div class="col-md-6 col-6">
                            <a
                              href="https://appgallery.huawei.com/#/app/C103720831"
                              target="_blank"
                            >
                              <picture>
                                <source
                                  media="(min-width:1200px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/huawei_new.png
                                  "
                                />
                                <source
                                  media="(max-width:768px)"
                                  srcset="
                                    https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/huawei_new.png
                                  "
                                />
                                <img
                                  src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/huawei_new.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </picture>
                            </a>
                          </div>
                          <div class="col-md-6 col-6">
                            <a
                              href="https://2b.com.eg/Driversdownloads/2begypt.apk"
                              >
                              <picture>
                                <source
                                  media="(min-width:1200px)"
                                  srcset="
                                      https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apk1.png
                                  "
                                />
                                <source
                                  media="(max-width:768px)"
                                  srcset="
                                  https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apk1.png
                                  "
                                />
                                <img src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/homepage/apk1.png"
                                  alt=""
                                  class="img-fluid"
                                />
                              </picture>
                              </a
                            >

                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="block-bottom">
                  <div class="row">
                    <div class="col-md-3 social-icons social-icons2">
                      <a
                        class="socials facebook"
                        href="https://www.facebook.com/2BEgypt/"
                        title="Facebook"
                        target="_blank"
                        >
                        <i class="fa-brands fa-facebook-f"></i>
                      </a>
                      <!-- <a class="socials twitter" href="https://twitter.com/2BEgypt" title="Twitter" target="_blank"><i
                    class="porto-icon-twitter"></i></a>-->
                      <a
                        class="socials linkedin"
                        href="https://www.linkedin.com/company/2b-egypt/about/"
                        title="Linkedin"
                        target="_blank"
                        >
                        <i class="fa-brands fa-linkedin"></i>
                      </a>
                      <a
                        class="socials instagram"
                        href="https://www.instagram.com/2begypt"
                        title="Instagram"
                        target="_blank"
                        >
                        <i class="fa-brands fa-instagram"></i>
                      </a>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 15px">
                      <br />
                      <span style="font-size: 16px">{{'Main Features'|translate}}</span>
                    </div>
                    <div class="col-md-3">
                      <ul class="list-unstyled">
                        <li>{{'Super Fast Shipping'|translate}}</li>
                        <br />
                        <li>
                          <a
                            href="https://2b.com.eg/ar/terms-and-conditions"
                            > {{'Terms & Conditions'|translate}}</a
                          >
                        </li>
                        <br />
                        <!-- <li><a href="https://2b.com.eg/ar/corporate-solutions.html">حلول الشركات</a></li> -->
                        <br />
                      </ul>
                    </div>
                    <div class="col-md-3">
                      <ul class="list-inline">
                        <li class="list-inline-item">{{'Maintenance Center to help you'|translate}}</li>
                        <br />
                        <li class="list-inline-item">{{'More than 50 Stores at your service anywhere'|translate}}</li>
                        <br />
                        <li class="list-inline-item">{{'Buy Online or Pickup in Store'|translate}}</li>
                        <br />
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom pt-3 pb-3 bg-black">
      <div class="container d-flex justify-content-between">
        <div class="custom-block">
          <div id="payments-methods">
            <img
              class="py_img"
              style="max-height: 35px"
              src="https://smhttp-ssl-73217.nexcesscdn.net/pub/media/wysiwyg/October_2023/Payments_Methods.png"
              alt=""
            />
          </div>
        </div>
        <div class="text-white">{{'©Copyright 2021 by 2B Computer. All Rights Reserved'|translate}}</div>
      </div>
    </div>
  </div>
  <a><em class="porto-icon-up-open"></em></a>
</footer>