<div class="container">
    <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <label class="label">{{'New Password'|translate}}</label>
        <input  type="password" class="input" formControlName="newPassword"  placeholder="{{'New Password'|translate}}" 
         [ngClass]="{'is-invalid':(newPassword?.touched || newPassword?.dirty)&& newPassword?.invalid}">
         <span class="invalid-feedback">
            @if(newPassword?.errors?.['required'])
            { <span>{{'New Password is Required'|translate}}</span>  }

            @else if(newPassword?.errors?.['minlength']) 
            { <span>{{'Minimum Length is 8 character'|translate}}</span> }

            @else if(newPassword?.errors?.['pattern']) 
            { <span>{{'Password is invalid'|translate}}</span> }
          </span>   
        <label class="label">{{'Confirm New Password'|translate}}</label>
        <input type="password" class="input" formControlName="conNewPassword" placeholder="{{'Confirm New Password'|translate}}" 
        [ngClass]="{'is-invalid': (conNewPassword?.touched || conNewPassword?.dirty)&& conNewPassword?.invalid}">
        <span class="invalid-feedback">
            @if(conNewPassword?.errors?.['required'])
            { <span>{{'Confirm Password is Required'|translate}}</span>}

            @else if(conNewPassword?.errors?.['mismatch']) 
            { <span>{{'Confirm Password and Password Not Matched'|translate}}</span> }
          </span>
             <div class="pt-2">
    <button class="btn btn-warning" type="submit" [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </div>
    </form>
</div>