<h4 class="myaccunt">{{'My Account'|translate}}</h4>
<div><a class="nav-link"routerLink="./MyAccount">{{'My Account'|translate}} </a> </div>
<div><a class="nav-link" routerLink="./MyOrders">{{'My Orders'|translate}}</a> </div>
<div><a class="nav-link" routerLink="./AddressBook">{{'Address Book'|translate}}</a> </div>
<div><a class="nav-link" routerLink="./AccountInformation">{{'Account Information'|translate}}</a> </div>
<!-- <div><a class="nav-link" href="#">المفضلة</a> </div>
<div><a class="nav-link" href="#">مراجعاتي</a> </div>
<div><a class="nav-link" href="#">بيانات الشركة</a> </div>
<div><a class="nav-link" href="#">حساباتي التابعة</a> </div>
<div><a class="nav-link" href="#">حساباتي الاجتماعية </a> </div> -->