@model E_Commerce.MVC.DTOs.productDto.createDto
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<link href="@Url.Content("~/css/sb-admin-2.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/css/site.min.css")" rel="stylesheet" />

@{
    ViewData["Title"] = "Add";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add New Product</h1>
    <a asp-action="ProductList" class="d-none d-sm-inline-block btn btn-sm bg-success  shadow text-white ">
        Back List Products
    </a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nameAr" class="control-label"></label>
                <input asp-for="nameAr" class="form-control" />
                <span asp-validation-for="nameAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nameEn" class="control-label"></label>
                <input asp-for="nameEn" class="form-control" />
                <span asp-validation-for="nameEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptionAr" class="control-label"></label>
                <input asp-for="descriptionAr" class="form-control" />
                <span asp-validation-for="descriptionAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="colorAr" class="control-label"></label>
                <input asp-for="colorAr" class="form-control" />
                <span asp-validation-for="colorAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="colorEn" class="control-label"></label>
                <input asp-for="colorEn" class="form-control" />
                <span asp-validation-for="colorEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descriptionEn" class="control-label"></label>
                <input asp-for="descriptionEn" class="form-control" />
                <span asp-validation-for="descriptionEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stockQuantity" class="control-label"></label>
                <input asp-for="stockQuantity" class="form-control" />
                <span asp-validation-for="stockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="categoryId" class="control-label"></label>
                @Html.DropDownList("categoryId", ViewBag.Categories as SelectList, "Select Parent Category", new { @class = "form-control" })
                <span asp-validation-for="categoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="brandId" class="control-label"></label>
                @Html.DropDownList("brandId", ViewBag.brands as SelectList, "Select brand", new { @class = "form-control" })
                <span asp-validation-for="brandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FormFiles">Images:</label>
                <input type="file" class="form-control-file" asp-for="FormFiles" multiple>
            </div>

            <div class="form-group">
                <a asp-action="Add">
                    <input type="submit" value="Create" class="btn btn-success" />
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
